body {
    font-family: 'Montserrat', 'sans-serif';
    color: #172b4d;
    background: linear-gradient(0deg, #fff, #eae6ff 100%);
    
}

.container {
    width: 100%;
    margin: auto;
}

a {
    text-decoration: none;
}

.sec-1 {
    margin-top: 100px;
}

.txt-header {
    font-weight: 800;
    font-size: 30px;
    line-height: 1.33333333;
}

.imgtransition {
    transition: transform .2s;
}

.imgtransition:hover {
    transform: scale(1.1);
}

.sec-4 button:hover {
    text-decoration: underline;
}